body {
  margin: 0;
}

/*.mainNav{
  width: 100%;
  height: 120px;
  background-color: #FE5E41;

}*/


.main-nav {
  background-color: #FE5E41;
  display: flex;
      width: 100%;
      height: 100px;
  justify-content: flex-start;
  align-items: center;

}

.logo {
  order: 1;
  margin: 0px 25px 0px 60px;
  

}

.nav-items {
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  height: 100%;
}

.nav-items a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 20px;
  height: 100%;
  margin-bottom: 2px;
/*  border-bottom: 3px solid black;
  margin-bottom: 2px;*/
}

.nav-items a:focus {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 20px;
  height: 100%;
  border-bottom: 3px solid black;
  margin-bottom: 1px;
  color: black;
}


.input-group {
  position: relative;
  display: flex;
  align-items: center;
}


/* Style the search icon */
.input-group-text {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  color: black;
}




.search-box {
  order: 3;
  margin-right: 20px;
}

.icons{
    order: 4;
    width: 30%;
  display: flex;

  justify-content: flex-end;
  align-items: center;


}

 .icon-holder{
    position:relative;
    margin-right: 20px;
  }

.count{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    left: 13px;
    top: 10px;
    width: 20px;
    height: 20px;
    background-color: #00A878;
    border-radius: 50px;
}

.count-numb{
  color: white;
}

.search-box input {
  width: 200px;
  height: 30px;
  background: #F2F2F2;
  border-radius: 4px 4px 0px 0px;
  
  padding: 10px;
}

.hamburger-menu {
  order: 4;
  font-size: 20px;
  color: #fff;
  display: none;
}


.container{
  width: 100%;
  height: 100%;
}


.menu{
  width: 80%;
  height: 30px;
  padding-top: 20px;
  padding-left: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
}

.menu a {
  color: black;
  
  text-decoration: none;

}

.menu-item{
  padding-left: 10px;
  padding-right:5px ;
}


.header-container{
  width: 100%;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 
 
}

.header{
  width: 80%;
  padding-left: 80px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
}

.icon-box{
   width: 15%; 
}
.box{
  margin-right: 10px;
}

.product-container{
width:100%;
height: 200px;
display: flex;
justify-content: space-between;
align-items: center;

background-color: red;
}

.product-image{
  width: 50%;
  height: 200px;
  background-color: yellow;
}

.product-order{
  width: 50%;
  height: 200px;
    background-color: green;
}

  


/* Media Queries */
@media only screen and (max-width: 768px) {
    .hamburger-menu {
    order: 1;
    margin-left: 15px;
    display: block;
    cursor: pointer;
  }
  .logo {
    order: 2;
    margin: 0px 30px 0px 30px;
  }
  .nav-items {
    order: 3;
    display: none;
  }
  .search-box {
    order: 4;
    display: none;
  }
  .icons{
    order: 5;
    justify-content: center;

}

.menu{
  padding-left: 10px;
}

.header-container{

}

.header{
  width: 50%; 
font-weight: 600;
font-size: 28px;
padding-left:20px;

}

.icon-box{
   width: 50%; 
}


.product-container{
width:100%;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

background-color: red;
}


}